.loader_container {
    display: flex;
    width: 100vw;
    height: 100dvh;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: 600;

    .loader {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        display: inline-block;
        border-top: 3px solid green;
        border-right: 3px solid transparent;
        box-sizing: border-box;
        animation: circleRotation 0.7s linear infinite;
    }
}

.container {
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 999;
    padding: 12px 0 12px;
    width: 100%;

    .filters_container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .details {
            font-size: 12px;
            font-weight: 600;
            position: absolute;
            right: 10px;
            top: 0;
        }
    }

    .btn_container {
        display: flex;
        justify-content: center;
        margin-top: 8px;
        font-size: 12px;
    }

    .btn_container button {
        all: unset;
        border: 1px solid rgba(115, 105, 1, 0.23);
        padding: 2px 8px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        gap: 4px;
    }
    
    .btn_container button svg {
        width: 16px;
        height: 16px;
    }

    .btn_container button:hover {
        background-color: rgb(255, 199, 96) !important;
        cursor: pointer;
    }
}

@keyframes circleRotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 
